terraform {
  backend "azurerm" {
    resource_group_name  = "rg-terraform-state"
    storage_account_name = "stcontosotfstate"
    container_name       = "tfstate"
    key                  = "platform-landing-zone.tfstate"
    use_azuread_auth     = true
  }
}

